.upload__done {
  padding: 7rem 0 0;
  position: relative;
}
.upload__done-icon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-size: 54rem;
  height: 0.6em;
}
.upload__done-icon1 {
  font-size: 25.7rem;
}