@import '../../../scss/mixin';
.upload__row {
  width: 100%;
  max-width: 52rem;
  margin: 0 auto;
  margin-bottom: 20px;
}
.upload-step52,
.upload-step53 {
  height: 0.5em;
  font-size: 23rem;
}
.upload-step51 {
  margin-right: 16px;
}
.upload-step54,
.upload-step51 {
  font-size: 8.5rem;
}