@import '../../../scss/mixin', '../../../scss/variables';
.forgot {
  &__holder {
    max-width: 350px;
    width: 100%;
    margin: 0 auto;

  }
  &__icon {
    font-size: 34px;
    margin-bottom: 16px;
  }
}