@import '../../../scss/mixin';

.icon-uppload_31,
.icon-uppload_33 {
  font-size: 25.7rem;
  @include max-screen(900px) {
    font-size: 20rem;
  }
  @include max-screen(580px) {
    display: none;
  }
}
.icon-uppload_32 {
  font-size: 39.2rem;
  height: 0.6em;
  @include max-screen(900px) {
    font-size: 34rem;
  }
  @include max-screen(580px) {
    font-size: 43rem;
  }
}
